<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to the Home Page</title>
  </head>

  <h1>Welcome to the most bomb home page made yet</h1>
  <body>

    <%= link_to 'About', about_path %> 

    Hi there

  </body>
</html>
